@mixin create_navigation($border_color) {
  display: flex;
  margin: auto;
  &__item {
    padding: 10px;
    display: inline-block;
    &__title {
      text-decoration: none;
      color: black;
    }
    &--active {
      padding: 10px;
      display: inline-block;
      border-bottom: 5px solid $border_color;
      margin-bottom: -5px;
      &__title {
        text-decoration: none;
        color: black
      }
    }
  }
}