* {
    box-sizing: border-box
}
body{
  margin: 0;
}
/*start page css*/
.page{
  width: 495px;
  margin: auto;
}
.page__header{
  height: 50px;
  border: 1px solid red;
  padding: 0 20px;
}
.page__content{
  border: 1px solid red;
  text-align: center;
}
.page__footer{
  height: 50px;
  border: 1px solid red;
  text-align: center;
}
/*end page css*/

/*start branch css*/
.branch{
    width: 100%;
    height: 100%;
}
.branch__logo{
    vertical-align: middle;
}
.branch__text{
    vertical-align: middle;
}
/*end branch css*/

/*start main nav css*/
.main-nav{
   display: flex;
   margin: auto;
}
.main-nav__item{
    padding: 10px;
    display: inline-block;
}
.main-nav__item__title{
   text-decoration: none;
   color: black
}
.main-nav__item--active{
   padding: 10px;
   display: inline-block;
   border-bottom: 5px solid blue;
   margin-bottom: -5px;
}
.main-nav__item--active__title{
  text-decoration: none;
   color: black
}
/*end main nav css*/

/*start mutil column css*/
.mutil-column{
  height: 100%
}
.mutil-column .col-30{
    width: 30%;
    float: left;
    height: 100%;
}
.mutil-column__col-70{
    width: 70%;
    float: left;
    height: 100%;
}
.mutil-column__col-50{
  width: 50%;
  float: left;
  height: 100%;
}
.pull-left > *{
  float: left;
}
.pull-right > *{
  float: right;
}
/*end mutil column css*/
/*start slider css*/

.slider{
    position: relative;
    height: 200px;
    background-image: url("image/slider.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding: 20px 80px;
}
.slider__content{

}
.slider__content__photo{
  width: 135px;
  height: 100%;
}
.slider__content__title{
  margin: 10px 0;
  font-weight: initial;
}
.slider__content__text{
  margin: 10px 0;
}

/*end slider css*/

/*start prev next icon css*/
.prev{
  font-size: 40px;
  left: 20px;
  top: calc(50% - 20px);
  position: absolute;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.next{
  font-size: 40px;
  right: 20px;
  top: calc(50% - 20px);
  position: absolute;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.next__icon:before{
  content:'\003E';
}
.prev__icon:before{
  content:'\003C';
}
/*end prev next icon css*/

/*start signup button css*/
.signup-button{
  background-color: #4f94f1;
  border-radius: 5px;
  color: white;
  padding: 10px;
  border: 1px solid #4f94f1;
  cursor: pointer;
}
.signup-button .signup-button-text {
    display: table-cell;
    vertical-align: middle;
}
/*end signup button css*/

/*start text align css*/
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
/*end text align css*/

/*start icon css*/
.check-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}
.check-icon::before {
    content: '\2714';
    border-radius: 50%;
    color: #4f94f1;
    background-color: white;
    padding: 3px;
    font-size: 14px;
    display: inline-block;
    height: 16px;
    width: 16px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
} 
/*end icon css*/
 /*start services css  */
.page__services{
     border: 1px solid red;
 }
.services__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    flex: 1;
}
.services__item{
     text-align: center;
 }

 .services__item__title{
    color:#4f94f1;
    margin: 20px 10px 10px;
 }

 .services__item__desc{
     color:#514a4a;
     margin: 0 10px;
 }
 /*end services block  */
.copy-right{
    color: #514a4a;
    text-decoration-line: none;
}